#Git Ignore

# Ignore '__pycache__' directory
__pycache__/
pylintrc

# Ignore VSCode directory
.vscode/

# Ignore swap files (made by GVim)
*.swp

# Ignore virtual environment configuration
pyvenv.cfg

# Ignore Python virtual environment for Linux 
lib/
lib64
bin/
include/
share/

# Ignore Python virtual environment for Windows
Include/
Lib/
Scripts/

# Ignore PyPI build-specific files
build/
dist/
*.egg-info/

# Project specific files
tty_color.sh
*.svr
TODO
